.content {
    width: 1480px;
    margin: 0 auto;
}
.logo {
    margin-top: 61px;
    margin-bottom: 45px;
    margin-left: 101px;
    width: 292px;
    font-family: Myriad, Arial, sans-serif;
    font-size: 80px;
    font-weight: 400;
}
.logo a {
    color: black;
    text-decoration: none;
}
.logo span {
    color: #4bcaff;
}
.menu-navigation,
.footer-navigation {
    display: inline-block;
    width: 1280px;
    height: 69px;
    font-family: Myriad, Arial, sans-serif;
    margin-left: 101px;
}
.menu-navigation ul,
.side-menu ul{
    list-style: none;
    line-height: 69px;
    text-align: center;
}
.menu-navigation ul li,
.footer-navigation ul li {
    display: inline-block;
}
/*///menu-navigation///*/
.menu-navigation {
    background-color: #35444f;
}
.menu-navigation a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding-right: 41px;
    padding-left: 41px;
}
.menu-navigation li:hover {
    background-color: #222f3a;
    max-height: 69px;
}
/*///side-menu///*/
.side-menu {
    display: inline-block;
    width: 344px;
    border: 1px solid #32424e;
    margin-left: 101px;
    font-family: Myriad, Arial, sans-serif;
    float: left;
}
.side-menu ul {
    text-align: left;
}
.side-menu ul li {
    padding-left: 44px;
}
.side-menu a {
    text-decoration: none;
    font-size: 26.99px;
    font-weight: 400;
    color: #495863;
}
.side-menu ul li:hover {
    padding-left: 69px;
    background-color: #dcdcdc;
}
/*///inner-content///*/
.inner-content {
    display: inline-block;
    margin-top: 51px;
}
.center-picture {
    display: inline-block;
    margin-left: 48px;
    width: 885px;
    border: 1px solid #32424e;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 73px;
}
.center-picture img {
    width: 320px;
    height: 381px;
}
.first,
.second {
    color: #2c2b2b;
    font-family: Myriad, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 820px;
    margin-left: 526px;
}
.first {
    margin-top: 50px;
    margin-bottom: 30px;
}
.second {
    margin-bottom: 51px;
}
/*///footer///*/
footer {
    width: 100%;
}
.footer-navigation {
    background-color: #b5b8bb;
}
.footer-navigation ul {
    list-style: none;
    line-height: 69px;
    text-align: left;
    padding-left: 44px;
    float: left;
}
.footer-navigation a {
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    font-weight: 400;
    padding-left: 7px;
    padding-right: 7px;
}
.footer-navigation ul a:hover {
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: #3181a6 1.5px solid;
}
.copyright {
    font-family: Myriad, Arial, sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    padding-top: 25px;
}